.targets{
    margin-top:40px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
    width: 350px;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  img{
    width: 350px;
    height: 250px;
    margin-right: 25px;
    display: block;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .description-box{
    background-color: white;
  }

  p {
    margin: 0;
    padding: 0;
    padding: 0 1%;
    word-break: break-all;
  }