.targets{
    margin-top:40px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
    width: 350px;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  img{
    width: 350px;
    height: 250px;
    margin-right: 25px;
    display: block;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .description-box{
    background-color: white;
  }

  p {
    margin: 0;
    padding: 0;
    padding: 0 1%;
    word-break: break-all;
  }

  .button-delete {
    position: absolute;
    margin-left: 0px;
    top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .container:hover .button-delete{
    opacity: 1;
  }

  .button-delete a {
    width: 200px;
    padding: 10px 1px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }

  .button-edit {
    position: absolute;
    margin-left: 310px;
    top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .container:hover .button-delete{
    opacity: 1;
  }

  .button-edit a {
    width: 200px;
    padding: 10px 1px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }

  .container:hover .button-edit{
    opacity: 1;
  }